* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 90%;
  margin: auto;
  display: block;
  height: auto;
}
/* header */

header {
  background-color: black;
  height: 250px;
  width: auto;
}
header p {
  font-size: 30px;
  color: rgb(238, 119, 50);
  font-family: "Dancing Script", cursive;
  text-align: center;
}
header span p {
  font-size: 40px;
  color: aqua;
}

/* menu */

.menu {
  display: flex;
  height: 180px;
  background-color: white;
  justify-content: space-between;
}

.menu img {
  height: 120px;
}

.menu div p {
  font-size: 16px;
  color: rgb(41, 83, 37);
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-weight: 900;
  background-color: white;
}
.chai-information p:nth-last-of-type(2) {
  color: rgb(26, 78, 78);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.menu button {
  align-self: center;
  background-color: white;
  width: 40px;
  text-align: center;
  background-color: rgb(54, 214, 40);
  height: 30px;
}

.menu button:hover {
  border-radius: 50%;
  align-self: center;
  background-color: white;
  transform: scale(1.4);
}

/*  your-order */
.your-order div:nth-of-type(1) p {
  text-align: center;
  padding: 10px;
  color: white;
  background-color: black;
}

/* order-detail */
.order-detail {
  display: flex;
  background-color: #caf0f8;
  padding: 20px;
}
.order-detail p:nth-of-type(1) {
  font-size: 20px;
}
.order-detail p:nth-of-type(2) {
  margin-left: 160px;
}
.order-detail button {
  color: #90e0ef;
  background-color: #03045e;
  padding: 5px;
  border: none;
  margin-left: 5px;
}

/* total price */
.total-price {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #d4a373;
  color: #023047;
}
.order-button button {
  padding: 20px;
  color: white;
  background-color: black;
  border: none;
  display: block;
  margin: auto;
  width: 100px;
  margin-top: 10px;
}
