* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 90%;
  margin: auto;
  display: block;
  height: auto;
  position: relative;
}
/* header */

header {
  background-image: url(./images/chai\ khana\ header.jpeg);
  height: 280px;
  width: 100%;
}
header p {
  font-size: 25px;
  color: rgb(238, 119, 50);
  font-family: "Dancing Script", cursive;
  text-align: center;
}
header span p {
  font-size: 30px;
  color: rgb(57, 247, 190);
  margin-top: 120px;
}

/* menu */

.menu {
  display: flex;
  height: auto;
  justify-content: space-between;
  margin: 10px;
}

.menu img {
  height: 100px;
}

.menu div p {
  font-size: 16px;
  color: rgb(41, 83, 37);
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-weight: 900;
  background-color: white;
}
.chai-information p:nth-last-of-type(2) {
  color: rgb(26, 78, 78);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.menu button {
  align-self: center;
  background-color: white;
  width: 40px;
  text-align: center;
  background-color: rgb(54, 214, 40);
  height: 30px;
  border: none;
  width: 140px;
  border-radius: 50%;
}
.menu button:hover {
  background-color: rgb(23, 60, 163);
}

/*  your-order */
.your-order {
  height: auto;
  width: auto;
}

/* order-detail */
.order-detail {
  display: flex;
  background-color: #f6f6f7;
  padding: 20px;
}
.order-detail p:nth-of-type(1) {
  font-size: 20px;
  color: azure;
  background-color: black;
  padding: 2px;
  width: 120px;
}
.order-detail p:nth-of-type(2) {
  margin-left: 120px;
}
.order-detail button {
  color: #90e0ef;
  background-color: #03045e;
  padding: 5px;
  border: none;
  margin-left: 5px;
}

/* total price */
.total-price {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: #fffafa;
  color: #010203;
  gap: 20px;
}
.order-button button {
  padding: 20px;
  color: white;
  background-color: black;
  border: none;
  display: block;
  margin: auto;
  width: 100px;
  margin-top: 10px;
}

.order-button button:disabled {
  padding: 20px;
  color: white;
  background-color: rgb(160, 149, 149);
  border: none;
  display: block;
  margin: auto;
  width: 100px;
  margin-top: 10px;
}

/* my order */
.my-order {
  text-align: center;
  font: 1.5em sans-serif;
}

/* cutomer detail */

.customer-detail {
  width: 100%;
  height: auto;
  border: 2px solid red;
  position: absolute;
  left: auto;
  right: auto;
  top: 460px;
  bottom: auto;
  background-image: url(./images/background.jpg);
  /* display: none; */
}
.customer-detail div {
  margin: 10px;
}
.customer-detail div p {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
.customer-detail div input,
.customer-detail div button {
  padding: 12px;
  margin-left: 55px;
  font-size: 16px;
}
.customer-detail div button {
  background-color: rgb(115, 136, 83);
  color: #fffafa;
  width: 205px;
  margin-left: 70px;
  border: none;
}
